{% extends "base.html" %}

{% block content %}
<h2>📋 Lista de Contatos</h2>

<div class="grid">
    {% for contato in contatos %}
    <div class="card">
        <h3>{{ contato.nome }}</h3>
        <p><strong>Email:</strong> {{ contato.email }}</p>
        <p><strong>Telefone:</strong> {{ contato.telefone }}</p>
<div class="actions">
   <a href="{{ url_for('edit', id=contato.id) }}">✏️ Editar</a>

<form action="{{ url_for('delete', id=contato.id) }}" method="POST" style="display:inline;">
    <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?')">🗑️ Excluir</button>
</form>

</div>

    </div>
    {% else %}
    <p>Nenhum contato encontrado.</p>
    {% endfor %}
</div>
{% endblock %}
